<div class="containter" style="margin: 50px auto">
     <div class="row">
            <p class="text-right"> Hola {{ usuario }} !! <a href="/admin/login" class="btn btn-sm btn-primary">Cerrar
                    Sesion
                    <i class="fa fa-sing-out"></i>
                </a></p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>

        <div class="col-5 text-end"> {{!-- en el video es right --}}
            <a href="/admin/novedades/agregar" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i>Nuevo</a> {{!-- aria-hidden="true" no esta en el PDF --}}
            {{!-- <a href="#" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a> --}}
        </div>
    </div>
    {{!-- inicio la tabla --}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Valor</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <body>
                    {{#each novedades}} {{!-- el auto completar me decia Novedades con N mayuscula --}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{producto}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{{imagen}}}</td>
                        <td>{{valor}}</td>
                        <td class="text-end">
                            <a class=" btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class=" btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </body>

            </table>

        </div>
    </div>


</div>